
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  z-index: 2;
  padding: 0 1rem;
}

.text-gradient-blue {
  background: linear-gradient(to right, #3b82f6, #2563eb);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  display: inline-block;
}
